<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Kristian Dimitrov | Portfolio</title>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <nav class="navbar">
      <div class="nav-container">
          <a href="/" class="logo">KristianKKD</a>
          <ul class="nav-links" id="navLinks">
              <li class="nav-item"><a href="/">Home</a></li>
              <li class="nav-item"><a href="/ProfessionalProjects/">Experience</a></li>
              <li class="nav-item"><a href="/GameProjects/">Games</a></li>
              <li class="nav-item"><a href="/MiscProjects/">Projects</a></li>
              <li class="nav-item"><a href="/About/">About</a></li>
              <li class="nav-item"><a href="/ContactMe/">Contact</a></li>
          </ul>
      </div>
  </nav>

</header>